<section class="m-5 my-5 align-items-center" *ngIf="step1" >

    <h1 class="text-capitalize fw-bold">
    please enter your verification code
  </h1>
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <div>
      <input type="email" class="form-control p-3" placeholder="Email" id="email" formControlName="email">
      <button class="btn btn-outline-success my-2 p-2 fs-4">Verify</button>
      <p *ngIf="userMsg" class=" alert alert-danger">{{userMsg}}</p>
    </div>
  </form>

</section>
<section class="my-5" *ngIf="step2" >
  <h1 class="text-capitalize fw-bold ">
    reset your account password
  </h1>
  <form [formGroup]="resetcode" (ngSubmit)="resetCode()">
    <div>
      <input formControlName="resetCode" type="password" class="form-control p-3" placeholder="Code" >
      <button class="btn btn-outline-success my-2 p-2 fs-4">Verify</button>
      <p *ngIf="userMsg" class=" alert alert-danger">{{userMsg}}</p>
    </div>
  </form>
</section>
<section class="my-5" *ngIf="step3" >
  <h1 class="text-capitalize fw-bold ">
    reset your account password
  </h1>
  <form [formGroup]="resetpassword" (ngSubmit)="Rpassword()">
    <div>
      <div class="my-2"><input type="password" class="form-control p-3" placeholder="password" formControlName="npassword"></div>
      <button class="btn btn-outline-success my-2 p-2 fs-4">reset password</button>
      <p *ngIf="userMsg" class=" alert alert-danger">{{userMsg}}</p>
    </div>
  </form>
</section>
